* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
i {
    cursor: pointer;
}
nav {
    background-color: darkslategrey;
    padding: 15px 15px;
    color: white;
}
select {
    background-color: white;
}
label {
    text-transform: uppercase;
    font-size: small;
    font-weight: 600;
    opacity: 0.9;
}
#navBarMainDiv {
    display: flex;
    justify-content: space-between;
}
#navBarLeftPart {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#navBarSearchInput {
    padding: 5px;
    border-radius: 6px;
    border: none;
    padding-left: 10px;
    width: 240px;
}
#navBarRightPart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 30px;
}
#sectionID {
    padding-left: 20px;
    padding-right: 20px;
    background-color: gainsboro;
    width: 100vw;
    height: 100vh;
    padding-bottom: 100px;
}
#mainDiv {
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
}
#formDiv {
    padding-bottom: 70px;
    border-radius: 10px;
    background-color: white;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#genderID {
    margin-top: 30px;
    margin-bottom: 30px;
}
#male {
    margin-left: 80px;
}
#female {
    margin-left: 20px;
}
#mobileNoTwoParts {
    display: flex;
    justify-content: space-between;
}
#lowerPart {
    background-color: gainsboro;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    /* padding: 8px; */
    height: 300px;
}
#lowerBox {
    border: 1px gray solid;
    border-radius: 5px;
    padding: 8px;
}
#lastHeadline {
    text-align: center;
    margin-top: 100px;
}
#lastBtn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
#submitBtn {
    padding: 10px 20px;
    border-radius: 5px;
    border: transparent;
    background-color: darkcyan;
    cursor: pointer;
    color: white;
    font-weight: bolder;
}
.mobileNumInput {
    width: 298px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.nameAndInput {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 12px;
}
.formInput {
    border-radius: 5px;
    width: 600px;
    padding: 6px;
    border: 1px solid #ccc;
}
.star {
    color: red;
    font-size: smaller;
}

/* @media only screen and (max-width: 320px) {

    .nameAndInput {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 12px;
    }
    .formInput {
        border-radius: 5px;
        width: 100px;
        padding: 6px;
    }
} */