* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
i {
    cursor: pointer;
}
nav {
    background-color: darkslategrey;
    padding: 15px 15px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}
#navBarMainDiv {
    display: flex;
    justify-content: space-between;
}
#navBarLeftPart {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#navBarSearchInput {
    padding: 5px;
    border-radius: 6px;
    border: none;
    padding-left: 10px;
    width: 240px;
}
#navBarRightPart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 30px;
}
#navBar-User-Logo {
    position: relative;
}
#nav-dropDown {
    position: absolute;
    right: 0;
}
/* #navBar-subMenu {
    position: absolute;
    top: 0;
} */
#sideBar {
    background-color: #615b5b;
    width: 260px;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 55px;
}
#section {
    margin-left: 260px;
    margin-top: 60px;
}
#dashboard-main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
#lower-part {
    display: flex;
    margin-top: 40px;
    gap: 20px;
    padding: 0px 20px;
}
#stats {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 60px;
    padding: 30px 0px;
  
}
#data {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sideBar-Menu{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.sideBar-Menu:hover {
    background-color: #fff;
}
.sideBar-Menu:hover a {
    color: black;
}
.sideBar-Menu:hover .sideBar-icon {
    color: black;
}
.sideBar-Menu:hover #sideBar-subMenu {
    display: block;
}
.sideBar-Menu a {
    color: white;
    text-decoration: none;
}
.sideBar-icon {
    color: white;   
}
#sideBar-subMenu {
    position: absolute;
    top: 128px;
    display: flex; 
    flex-direction: column;
    margin-top: 10px;
    display: none;
    background-color: #fff;
    width: 100%;
    padding: 5px 10px;
}
.sideBar-subMenu-name {
    padding: 5px;
}
.sideBar-subMenu-name:hover {
    background-color: gray;
}
.sideBar-subMenu-name:hover a {
    color: white;
}
.lower-part-img {
    width: 300px;
}
.lower-part-divison {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border: #ccc 1px solid;
    border-radius: 15px;
}
.stats-boxes {
    border: #ccc 1px solid;
    padding: 20px;
    border-radius: 15px;
    max-width: 200px;
    box-shadow: 5px black;
}
.stats-boxes:hover {
    scale: 1.1; 
    transition: all;
    transition-duration: 1s;
}
.data-img {
    object-fit: contain;
}
/* media */
@media screen and (max-width: 320px) {
    #sideBar {
        left: -260px;
    }
    #navBarRightPart {
        display: none;
    }
    #section {
        margin-left: 0;
    }
    #deshborad-uppar-part-img {
        width: 300px;
    }
    .lower-part-img {
        width: 60px;
        object-fit: cover;
    }
    .lower-part-divison {
        display: flex;
        flex-direction: column-reverse;
    }
    #lower-part-img2 {
        width: 80px;
    }
    #bars:hover + #sideBar{
        left: 0;
    }
}
@media only screen and (min-width: 321px) and (max-width: 375px){
    #navBarMainDiv  {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    #sideBar {
        left: -260px;
    }
    #section {
        width: 100%;
        margin-left: 0;
    }
    #deshborad-uppar-part-img {
        width: 350px;
    }
    .lower-part-img {
        width: 80px;
        object-fit: cover;
    }
    .lower-part-divison {
        display: flex;
        flex-direction: column-reverse;
    }
    #lower-part-img2 {
        width: 100px;
    }
    #bars:hover + #sideBar{
        left: 0;
        top: 0;
    }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
    #navBarMainDiv  {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    #sideBar {
        display: none;
    }
    #section {
        width: 100%;
        margin-left: 0;
    }
    #deshborad-uppar-part-img {
        width: 400px;
    }
    .lower-part-img {
        width: 80px;
        object-fit: cover;
    }
    .lower-part-divison {
        display: flex;
        flex-direction: column-reverse;
    }
    #lower-part-img2 {
        width: 100px;
    }
    #bars:hover #sideBar{
        display: block;
    }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
    #deshborad-uppar-part-img {
        width: 500px;
    }
    .lower-part-divison {
        display: flex;
        flex-direction: column-reverse;
    }
    .lower-part-img {
        width: 80px;
        object-fit: cover;
    }
    #section {
        margin-left: 260px;
    }
    #lower-part-img2 {
        width: 100px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #deshborad-uppar-part-img {
        width: 760px;
    }
    #section {
        margin-left: 260px;
    }
    .lower-part-divison {
        display: flex;
        flex-direction: column-reverse;
    }
    .lower-part-img {
        width: 80px;
        object-fit: cover;
    }
    #lower-part-img2 {
        width: 100px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    #deshborad-uppar-part-img {
        width: 1000px;
    }
    #section {
        margin-left: 260px;
    }
    .lower-part-divison {
        display: flex;
        flex-direction: column-reverse;
    }
    .lower-part-img {
        width: 200px;
        object-fit: cover;
    }
    #lower-part-img2 {
        width: 240px;
    }
}