section {
    /* height: 100vh; */
    margin-top: 80px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
h2 {
    text-align: center;
}
#mainBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
    padding: 20px;
}
#submitDiv {
    margin: auto;
}
#submitBtn {
    padding: 10px 20px;
}
/* .equalSpace {
    display: flex;
    justify-content: space-evenly;
} */