header {
    text-align: center;
}
#navbarUlTag {
    display: flex;
    justify-content: center; 
    justify-content: space-evenly; 
    list-style: none;
}
#emojiHeader {
    font-size:xx-large;
}
#emojiPart {
    text-align: center;
}
#emojiContainer {
    display: flex; 
    justify-content: center; 
    gap: 10px;
}
#videoSectionDiv {
    display: flex;
    justify-content: space-evenly;
}
li:hover{
    color: aqua;
    background-color: aqua;
}
.navbarATag {
    color: black;
    text-decoration: none;
} 
.heroSectionDiv {
    display: flex; 
    align-items: center;                    
    justify-content: center; 
    justify-content: space-evenly;
}
