* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    padding: 20px;
    color: white;
    background-color:#2b4450;
    width: 100%;
    top: 0;
    position: fixed;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
}
#heroSection {
    display: flex;
    width: 100vw;
    height: 100vh;
}
#sideDiv {
    min-width: 21%;
    background-color: #36626a;
    height: 100vh;
    top: 0;
    position: fixed;
    overflow-y: hidden;
    margin-top: 79px;
}
#ulTagSidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top: 60px;
    height: 100%;
    gap: 20px;
}
#mainPartDiv {
    margin-left: 21%;
    width: 100%;
    margin-top: 70px;
}
#homeDiv {
    height: 100%;
    width: 1;
}
#homeImgDiv {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 70px;
}
#aboutNamingDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#aboutTwoPartDiv {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}
#projectImagesDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
#nodeImg {
    width: 280px;
}
#contactUs {
    margin-top: 180px;
}
#contactUsTwoPart {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 70px;
}
#contactUsBoxes {
    display: flex;
    flex-direction: column;
}
.fullHvClass {
    padding-top: 90px;
    min-height: 100vh;
}
.liTag a:hover {
    color: darkseagreen;
    width: 100%;
}
.homeImg {
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.projectImg {
    object-fit: cover;
    width: 350px;
}
.heading {
    text-align: center;
}
.aTagSidebar {
    color: aliceblue;
    text-decoration: none;
}

@media screen and (max-width: 600){
    
}